#nombre{
    animation-name: titulo;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes titulo {
    0%{
        margin-right: 0%;
    }
    50%{
        margin-right: 30%;
        margin-left: 0%;
    }
    100%{
        margin-right: 0%;
        margin-left: 30%;
    }
}