#nombre{
    animation-name: titulo;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}
@keyframes titulo {
    0%{
        margin-right: -25%;
        margin-left: 25%;
    }
    50%{
        margin-right: 25%;
        margin-left: -25%;
    }
    100%{
        margin-right: -25%;
        margin-left: 25%;
    }
}