@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
body{
    background-color: #000000;
}
img{
    width:100%;
    height: 100%;
}
a{
    text-decoration: none; 
    color: white;
}
.bordes{
    border: #30686bff ridge 30px;
    border-radius: 10%;
}

input{width: 100%;}

/* CABECERA */
header{
    display: flex;
    justify-content: space-around;
    color: white;
    font-family: 'Orbitron';
    border-bottom: #801c7b 5px inset;
}
#perfil{
    width: 10%;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: center;
}
#perfil > img{
    width: 100%; 
    height: 100%; 
    margin-right: 20px;
    border-radius: 50%;
}

#nombre{
    padding: 10px;
    font-size: 40px;
    margin-top: 50px;
    margin-right: 25%;
    text-align: center;
}

#imag img{width: 100%;}

#imag{
    margin-top: 20px;
    width: 10%;
    height: 10%;
}
#titu{
    width: 35%;
}

/* CONTENEDOR DE PAFINA MENOS CABECERA */
#asar{
    margin-top: 10px;
    display: flex;
    width:100%;
    height: 700px;
}


/* LATERALES */
aside{
    width: 23%;
    text-align: center;
    font-family: 'Orbitron';
    box-sizing: border-box;
}
aside img{width: 100%;}
aside h2{
    border-bottom: #801c7b solid 3px;
    margin: 20px;
    padding: 5px;
}

/* ASIDE1 */
#aside1{
    background-color: #439195; 
    margin: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#aside h2{width: 100%;}
#aside1 ul{
    text-align: left;
}

/* aside2 */
#aside2{
    margin: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#aside2>div{
    background-color: #439195;
    width: 100%;
    height:100%;
    box-sizing: border-box;
}
#ariba h2{ width: 50%;}
#arriba>figure{
    display: flex;
    align-items: center;
    width: 30%;
}
figure img{width: 100%;}
figure figcaption{
    margin-left: 30px;
    font-size:5vw;/* 80px */
}
#tiempo{
    font-size: 30px;
    margin-left: 45%;
}
#lista td,#lista tr,#lista table,#lista th{
    border-collapse: collapse;
    border: #8b3c87 2px solid;
    padding: 3px;
}
#lista table{
    margin: 5px;
}


/* CONTENEDOR DE MAPA CON PIE */
article{
    margin: 2%;
    width: 46%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}
iframe{
    width: 100%;
    height: 100%;
    border: #000000 1px solid;
}
/* Pantalla final */
article > #final{
    width: 100%;
    height: 100%;
    display: none;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../IMG/fin.png");
    background-position: bottom;
    position: relative;
}
#final > img{
    width: 100%;
    max-width: 60px;
    height: 100%;
    max-height: 80px;
    position: absolute;
    bottom: 100px;
    left: 55%;
}
/* FOOTER */
footer{
    box-sizing: border-box;
    width: 100%;
    background-color: #30686bff;
    border-color: #439195!important;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 0%!important;
}
#cc{width: 200px;}
#cc img{width: 100%;}
.find{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.find img{
    width: 100%; 
    background-color: aliceblue; 
    border-radius: 32%;
}
.footerIC{margin: 5px; width: 90px;}
#refe{
    font-size: 20px;
    padding: 15px;
    border-radius: 10%;
    border: #801c7b 4px solid;
    background-color: #8b3c87;
    box-shadow:4px 4px 2px 2px  #573b56;
    text-shadow: 2px 2px 4px #000000;
}
#refe:hover{
    margin-left: 5px;
    box-shadow: 2px 2px 4px 4px  #cfc2ce, -2px -2px 4px 4px #cfc2ce;
    text-shadow: 2px 2px 4px rgb(172, 170, 170);
}

/* referencias */
#enlaces{
    padding: 2%; 
    margin-top: 5%;
    margin-left: 7%;
    margin-right: 10%;
    font-family: 'Orbitron';
    border-color: #801c7b;
    background-color: #872f82;
}
#enlaces h3{color: white;}
#inicio{
    margin-top: 2%;
    padding: 2%;
    font-size: 4rem;
    font-family: 'Orbitron';
    background-color: #872f82;
    color: white;
    border-color: #801c7b;
}
#inicio:hover{
    box-shadow: 2px 2px 4px 4px  #cfc2ce, -2px -2px 4px 4px #cfc2ce;
    text-shadow: 2px 2px 4px rgb(172, 170, 170);
}
