@import url('https://fonts.googleapis.com/css2?family=Rubik+Glitch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
body{
    background-color: #000000;
}
img{
    width:100%;
    height: 100%;
}
a{
    text-decoration: none; 
    color: white;
}
.bordes{
    border: #30686bff ridge 30px;
    border-radius: 20%;
}

/* CABECERA */
header{
    display: flex;
    justify-content: space-around;
    color: white;
    font-family: 'Orbitron';
    border-bottom: #801c7b 5px inset;
}
/* hr{
} */
#perfil{
    padding: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    width: 75px;
}
#perfil>img{width: 100%;margin-right: 5px;}
#nombre{padding: 20px; font-size: 50px;}
#logo {width: 8%;}

/* CONTENEDOR DE PAFINA MENOS CABECERA */
#asar{
    margin-top: 10px;
    display: flex;
    width:100%;
    height: 875px;
}


/* LATERALES */
aside{
    width: 25%;
    margin:2%;
    text-align: center;
    font-family: 'Orbitron';
}
aside img{width: 100%;}
aside h2{
    border-bottom: white solid 3px;
    margin: 20px;
    padding: 5px;
}

/* ASIDE1 */
#aside1{
    background-color: #439195; 
    margin: 20px;
}
#aside1 ul{
    text-align: left;
    padding-left: 90px;
}
section{
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* aside2 */
#aside2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
#aside2>div{
    background-color: #439195;
    margin: 20px;
    width: 100%;
    height:100%;
}
#arriba>figure{
    display: flex;
    align-items:center;
    justify-content: space-around;
    width: 35%;
    font-size: large;
}


/* CONTENEDOR DE MAPA CON PIE */
article{
    margin: 2%;
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
iframe{
    width: 100%;
    height: 100%;
    border: #000000 1px solid;
}



/* FOOTER */
footer{
    width: auto;
    padding: 10px;
    background-color: #30686bff;
    border-color: #439195!important;
    margin-top: 50px;
}
#cc{width: 20%;}
#cc img{width: 100%;}
.find{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.find img{
    width: 100%; 
    background-color: aliceblue; 
    border-radius: 30%;
}
.footerIC{margin: 5px;}
#refe{
    font-size: 20px;
    padding: 15px;
    border-radius: 50%;
    border: #30686bff ;
    background-color: #801c7b;
}
#refe a{color: white;}