/* MAPA */
#contenedor{
    width: 520px;
    height: 520px;
    display: grid;
    grid-template-rows: repeat(15, 1fr);
    grid-template-columns: repeat(15,1fr);
}
.paredarriba{
    width: auto;
    height: auto; 
    background-image: url("../IMG/Mapa/ParedMazmorra.png");
    background-repeat:round;
    background-size:100%;
    
}
.paredabajo{
    width: auto;
    height: auto; 
    background-image: url("..//IMG/Mapa/ParedMazmorraAbajo.png");
    background-repeat:round;
    background-size:100%;
    
}
.paredlateralizq{
    width: auto;
    height: auto; 
    background-image: url("../IMG/Mapa/ParedMazmorraLateralIzquierda.png");
    background-repeat:round;
    background-size:100%;
    
}
.paredlateraldech{
    width: auto;
    height: auto; 
    background-image: url("../IMG/Mapa/ParedMazmorraLateralDerecha.png");
    background-repeat:round;
    background-size:100%;

    
}
.paredab{
    width: auto;
    height: auto; 
    background-image: url("../IMG/Mapa/Paredr1.png");
    background-repeat:round;
    background-size:100%;

}
.paredde{
    width: auto;
    height: auto; 
    background-image: url("../IMG/Mapa/Paredr2.png");
    background-repeat:round;
    background-size:100%;

}
.paredar{
    width: auto;
    height: auto; 
    background-image: url("../IMG/Mapa/Paredr3.png");
    background-repeat:round;
    background-size:100%;

}
.parediz{
    width: auto;
    height: auto; 
    background-image: url("../IMG/Mapa/Paredr4.png");
    background-repeat:round;
    background-size:100%;

}
.paredam{
    width: auto;
    height: auto; 
    background-image: url("../IMG/Mapa/Paredr5.png");
    background-repeat:round;
    background-size:100%;

}
.esquina{
    width: auto;
    height: auto; 
    background-color: black; 
    
}
.suelo{
    width: auto;
    height: auto;
    background-image: url("../IMG/Mapa/SueloMazmorra.png");
    background-repeat:no-repeat;
    background-size: 100%;
    /* background-color: blue; */
    
}

/*Paredes Interior*/
.p1{
    width: auto;
    height: auto;
    background-image: url("../IMG/Mapa/ParedIn/Paredr1.png");
    background-repeat:no-repeat;
    background-size: 100%;
    background-size:cover;
}
.p2{
    width: auto;
    height: auto;
    background-image: url("../IMG/Mapa/ParedIn/Paredr2.png");
    background-repeat:no-repeat;
    background-size: 100%;
    background-size:cover;
}
.p3{
    width: auto;
    height: auto;
    background-image: url("../IMG/Mapa/ParedIn/Paredr3.png");
    background-repeat:no-repeat;
    background-size: 100%;
    background-size:cover;
}
.p4{
    width: auto;
    height: auto;
    background-image: url("../IMG/Mapa/ParedIn/Paredr4.png");
    background-repeat:no-repeat;
    background-size: 100%;
    background-size:cover;
}
.p5{
    width: auto;
    height: auto;
    background-image: url("../IMG/Mapa/ParedIn/Paredr5.png");
    background-repeat:no-repeat;
    background-size: 100%;
    background-size:cover;
}
.p6{
    width: auto;
    height: auto;
    background-image: url("../IMG/Mapa/ParedIn/Paredr6.png");
    background-repeat:no-repeat;
    background-size: 100%;
    background-size:cover;
}
.p7{
    width: auto;
    height: auto;
    background-image: url("../IMG/Mapa/ParedIn/Paredr7.png");
    background-repeat:no-repeat;
    background-size: 100%;
    background-size:cover;
}
.p8{
    width: auto;
    height: auto;
    background-image: url("../IMG/Mapa/ParedIn/Paredr8.png");
    background-repeat:no-repeat;
    background-size: 100%;
    background-size:cover;
    background-position:right;
}
.p9{
    width: auto;
    height: auto;
    background-image: url("../IMG/Mapa/ParedIn/Paredr9.png");
    background-repeat:no-repeat;
    background-size: 100%;
    background-size:cover;
    background-position:bottom;
}
.p10{
    width: auto;
    height: auto;
    background-image: url("../IMG/Mapa/ParedIn/Paredr10.png");
    background-repeat:no-repeat;
    background-size: 100%;
    background-size:cover;
}
.p11{
    width: auto;
    height: auto;
    background-image: url("../IMG/Mapa/ParedIn/Paredr11.png");
    background-repeat:no-repeat;
    background-size:cover;
    background-position: right;
}
.p12{
    width: auto;
    height: auto;
    background-image: url("../IMG/Mapa/ParedIn/Paredr12.png");
    background-repeat:no-repeat;
    background-size: 100%;
    background-size:cover;
    background-position: bottom;
}
.p13{
    width: auto;
    height: auto;
    background-image: url("../IMG/Mapa/ParedIn/Paredr13.png");
    background-repeat:no-repeat;
    background-size: 100%;
    background-size:cover;
}
.p14{
    width: auto;
    height: auto;
    background-image: url("../IMG/Mapa/ParedIn/Paredr14.png");
    background-repeat:no-repeat;
    background-size: 100%;
    background-size:cover;
}
.p15{
    width: auto;
    height: auto;
    background-image: url("../IMG/Mapa/ParedIn/Paredr15.png");
    background-repeat:no-repeat;
    background-size: 100%;
    background-size:cover;
}
.p16{
    width: auto;
    height: auto;
    background-image: url("../IMG/Mapa/ParedIn/Paredr16.png");
    background-repeat:no-repeat;
    background-size: 100%;
    background-size:cover;
}
