/* 1949 para los aside
con la imagen de cesped
cambia en 1420 */
/* 1210 cambiar mapa y fondo aside
1377 se jode mapa ponerlo entre aside 1 y aside2 en columna */
@media only screen and (max-width: 1295px) {
    
    header{
        /* flex-direction: column;
        align-items: center; */
        display: grid;
        grid-template-columns:50% 50%;
    }
    #nombre{
        text-align: center;
        font-size: 30px; 
    }
    #perfil{
        width:50%;
        height:75%;
        grid-column-start: 2;
        align-self: center;
        justify-self: center;
    }
    #titu{
        width: 80%;
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 3;
        align-self: center;
        justify-self: center;
    }
    #imag {
        width:50%;
        height:75%;
        grid-column-start: 1;
        align-self: center;
        justify-self: center;
    }
    #imag img{
        width: 100%;
    }

    #asar{
        flex-direction: column;
        align-items: center;
    /* para que el footer se vea*/
        height: 100%;
    }
    /*los bordes tambien cuentan*/
    aside{
        width: 90%;
    }
    #aside2{
        flex-direction: row;
    }
    #aside2>div{
        margin-right: 0; 
        width: 50%; 
    }
    article{width: 100%; height: 520px;}
    /*mapa*/
    #contenedor{
        width: 420px;
        height: 420px;
    }
    
    footer{
        width: 80%; 
        display: flex;
        flex-direction: column;
    }




    @keyframes titulo {
        0%{
            margin-right: -10%;
            margin-left: 10%;
        }
        50%{
            margin-right: 10%;
            margin-left: -10%;
        }
        100%{
            margin-right: -10%;
            margin-left: 10%;
        }
    }

} 

@media only screen and (max-width: 599px) {
    #aside2{
        flex-direction: column;
    }
    #aside2>div{ 
        width: 90%; 
    }
}